<div class="jumbotron">
  <h1 class= "title">人生就是一場實境遊戲</h1>
  <p class="slogan">還在玩線上遊戲？何不來真實世界玩？
  <br>
  月薪只是表象，職場其實是一個又一個的競技場！
  <br>
  外語、編程、協作能力，你想習得什麼技能？
  </p>
  <p class="lead"><a class= "btn btn-lg btn-danger" href="/jobs">我要升級</a></p>
</div>

<section id="company">
  <div class = "container-fluid">
    <div class="row">
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fbztw5zjiqj30xc0xcgne.jpg" alt="search" class = "img-thhumbnail">
          <div class="caption">
            <h3>勇者的家</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fbzu21xikcj30xc0xc75w.jpg" alt="bid" class = "img-thhumbnail">
          <div class="caption">
            <h3>聯繫我們</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4 ">
        <div class="thumbnail">
          <img src="https://ww3.sinaimg.cn/large/006tNc79jw1fbzu4uu48jj30xc0xc75p.jpg" alt="heart" class = "img-thhumbnail">
          <div class="caption">
            <h3>我有本事</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
